<!DOCTYPE html>
<html>
<head>
<title>新增-订单管理</title>
#parse("include/header.html")
</head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">客户名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<select class="form-control" id="customerList" v-model="order.customerName" isvalid="yes" checkexpession="NotNull">
						<option value="" ></option>
					</select>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">订单状态<font face="宋体">*</font></td>
	            <td class="formValue">
					<select class="form-control" id="orderList" type="select" disabled="disabled" v-model="order.orderStatus" isvalid="yes" checkexpession="NotNull">
						<option value="" ></option>
						<option value="0" >进行中</option>
						<option value="1">已完成</option>
					</select>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle formTitle-top">备注</td>
	            <td class="formValue">
					<textarea class="form-control" rows="4" placeholder="备注" v-model="order.remarks"></textarea>
	            </td>
        	</tr>
		</table>
	</div>
	#parse("include/footer.html")
	<script
		src="${rc.contextPath}/statics/js/base/order/add.js?_${date.systemTime}"></script>
</body>
</html>